* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  font-size: 1.5em;
}
body {
  min-height: 100vh;
  background: #2b2b2b;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Poppins", sans-serif;
}
body.active {
  background: #f8f8f8;
}
#toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #1c1818;
  transition: 0.5s;
  box-shadow: inset 0 8 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#toggle.active {
  background: #fff;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.5);
}
#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5),
    inset 0 1px 1px rgba(255, 255, 255, 0.2),
    inset 0 -1px 1px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

#toggle.active .indicator {
  left: 20px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5),
    inset 0 1px 1px rgba(255, 255, 255, 0.2),
    inset 0 -1px 1px rgba(255, 255, 255, 0.2);
}

nav.active {
  background: #f8f8f8;
}
nav.active a {
  color: rgb(0, 0, 0);
}
nav {
  background-color: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
nav a {
  height: 50px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f8f8f8;
  transition: 0.5s;
}
nav a:hover {
  background-color: #1c1b1b;
}
nav.active a:hover {
  background-color: #f1f1f1;
}

nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100vh;
  width: 250px;
  background-color: #ffffffc2;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.5s ease, height 0.5s ease;
  transform: scale(0);
}
.wrapper.active {
  height: 520px;
}
.wrapper.active-popup {
  transform: scale(1);
}
.wrapper.activeDark h2,
.wrapper.activeDark a,
.wrapper.activeDark p,
.wrapper.activeDark label,
.wrapper.activeDark input,
.wrapper.activeDark .icon {
  color: #2b2b2b;
}
.wrapper.activeDark.btn {
  background: #2b2b2b;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 30px;
  left: 5px;
  transform: translateY(-50%);
  color: #adadad;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #adadad;
  line-height: 57px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.remember-forget {
  font-size: 0.9em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forget label input {
  accent-color: #162938;
  margin-right: 3px;
}
.remember-forget a {
  color: #fff;
  text-decoration: none;
}
.remember-forget a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: #2e86c1;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
  margin: 20px 0;
  transition: 0.5s;
}
.btn:hover {
  background: #256db5;
}
.login-register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.login-register p a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.login-register p a:hover {
  text-decoration: underline;
}
.icon-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px;
  cursor: pointer;
  z-index: 1;
}
.wrapper .form-box.login {
  transition: transform 0.5s ease;
  transform: translateX(0);
}
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
.wrapper.active .form-box.register {
  transition: transform 0.5s ease;
  transform: translateX(0);
}
